:root {
  --colorBgHeader: gray;
  --colorBgFooter: steelblue;
  --colorPrimary: floralwhite;
  --colorAccent: steelblue;
  --colorRed: red;
  --colorActiveSite: brown;

  --fontDefault: Verdana, Arial, sans-serif;

  --fontHighlights: 'Times New Roman', serif;
}
