@import '_variables.css';

section {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

nav ul li:nth-child(2) a {
  color: var(--colorActiveSite);
}

article {
  background-color: var(--colorAccent);
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-flow: column;
}

img {
  border-radius: 0.35rem;
}
.image-wrapper {
  order: 1;
  border-radius: 8px;
}
.dish-info {
  order: 2;
  flex: 1;
}

article h2 {
  margin-top: 0.8rem;
  color: var(--colorPrimary);
}

article p {
  margin-top: 0.3rem;
}

.price {
  background-color: var(--colorBgHeader);
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  color: var(--colorPrimary);
  border: thick solid var(--colorRed);
  border-radius: 0.5rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  article {
    flex-flow: row;
    width: 100%;
    gap: 0.5rem;
  }

  .dish-info {
    order: 1;
  }
  img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  section {
    flex-flow: row wrap;
  }
  article {
    max-width: 49%;
  }
}
